.order{
    height: 100vh;
    background-color: #FFE0B3;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
}
.order-title{
    margin-top: 0;
}
.remove-all-btn{
    width: 80%;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(218, 57, 57);
    color: white;
    padding: .4rem 0;
    transition: .3s all;
    display: block;
}
.remove-all-btn:hover{
    background-color: rgb(248, 165, 165);
    color: black;
}