.item img{
    width: 90px;
    height: 100%;
    border-radius: 20px 0 20px 0;
}
.item{
    display: flex;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 20px 0 20px 0;
    margin: 1rem;
    padding: 5px;
}
.review{
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 100%;
    justify-content: space-between;
}
.info p{
    margin: 0;
}
.delete-btn{
    border-radius: 20px 0 20px 0;
    padding: 1rem;
    background-color: rgb(248, 165, 165);
    border: none;
    cursor: pointer;
    transition: .3s all;
}
.delete-btn:hover{
    background-color: rgb(226, 110, 110);
}
.delete-icon{
    font-size: 20px;
    color: red;
}